/* *{
    box-shadow: inset 0px 0px 2px black;
}
.red{
    box-shadow: inset 0px 0px 2px red;
}
.green{
    box-shadow: inset 0px 0px 2px green;
}
.blue{
    box-shadow: inset 0px 0px 2px blue;
} */
.btn-150{
    width: 150px !important;
    
}
.btn-primary{
    background-color: aqua !important;
    border-color:burlywood !important;
}
.btn-primary:hover{
    background-color: aqua !important;
    border-color:rgb(35, 160, 91) !important;
}